<html ng-app="main_app" ng-cloak>
<head>
	<title>Peachtree Bank</title>
	<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">

</head>
<body class="peachtree-bank-bg">
	<header>
		<div class="navbar bg-white shadow-sm border-bottom border-warning">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<img src="assets/images/logo.jpg" />
				</a>
			</div>
		</div>
	</header>

	<div class="container pb-5" ng-controller="maincontroller" id="controller">
		<div class="row">
			<div class="col-md-4 order-md-1 mt-5">
		     	<div class="card rounded-0 border-0">
				  <div class="card-header py-2 bg-bluegreen rounded-0 border-0">
				   <img src="assets/images/icons/arrows.png" width="25px" class="float-left"/>
				   Make a Transfer 
				  </div>
				  <div class="card-body">
				  	<form class="account-form" id="transaction_form">
				  		<div class="form-group">
				  			<label class="control-label custom-label" for="fromaccount">FROM ACCOUNT</label>
				  			<input type="text" class="form-control form-control pl-0 border-bottom rounded-0 text-muted bg-white" id="fromaccount" name="sender" ng-value="account_value" ng-disabled="inputdisabled" />
				  		</div>
						<div class="form-group">
				  			<label class="control-label custom-label" for="to_account">TO ACCOUNT</label>
							  <input type="text" class="form-control pl-0 border-bottom rounded-0 form-control text-muted bg-white" name="merchant" ng-keyup="autoComplete(to_account)" ng-model="to_account"  autocomplete="off" required />
							  <ul class="list-group list-group-flush" ng-repeat="merchant in merchantlist track by $index">
								<li class="list-group-item" ng-click="fillInputs(merchant)">{{merchant}}</li>
							  </ul>
				  		</div>
				  		<div class="form-group">
				  			<label class="control-label custom-label" for="amount">AMOUNT</label>
				  			<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text p-0">$</span>
								</div>
								<input type="number" max="500" class="form-control form-control pl-0 border-bottom rounded-0 text-muted bg-white" id="amount" name="amount" autocomplete="off" required step="any" placeholder="0.00" />
							</div>
				  		</div>
				  		<div class="form-group float-right">
				  			<button type="submit" class="btn px-5 btn-orange text-uppercase">submit</button>
				  		</div>
				  	</form>
				  </div>
				</div>
		    </div>
			<div class="col-md-8 order-md-2 mt-5">
		    	<div class="col-12 px-0 bg-white">
		    		<div class="card rounded-0 border-0">
					  <div class="card-header py-3 bg-bluegreen rounded-0 border-0">
					  	<img src="assets/images/icons/briefcase.png" width="25px" class="float-left text-muted"/>
					   	Resent Transactions
					  </div>
					  <div class="card-body">
					   		<form class="transactions-filter">
							  <div class="form-row">
							    <div class="col-md">
							      <input type="search" class="form-control border-bottom" ng-model="search.merchant" placeholder="Search by typing...">
							    </div>
							    <div class="col-md col-custom">
							     	<div class="input-group">
									  <div class="input-group-prepend">
									    <span class="input-group-text" id="">Sort by</span>
									  </div>
									  <button type="button" class="btn rounded-0 border" ng-click="setOrderProperty('transactionDate')">Date</button>
									  <button type="button" class="btn rounded-0 border" ng-click="setOrderProperty('merchant')">Benificiary</button>
									  <button type="button" class="btn rounded-0 border" ng-click="setOrderProperty('amount')">Amount</button>
									</div>
							    </div>
							  </div>
							</form>

							<!--transaction contents here-->
							<div class="transaction-contents">
								<table class="table border">
	                                <tbody ng-repeat="transaction in transactions | filter:search | orderBy : orderProperty: true">
	                                    <tr ng-style="set_color(merchants[transaction.merchant].categoryCode)">
	                                        <td class="text-center">
	                                        	{{transaction.transactionDate | date:'mediumDate' }}
	                                        </td>
	                                        <td>
	                                        	<img ng-src="{{ merchants[transaction.merchant].logo }}" width="30" class="float-left" />
	                                        </td>
	                                        <td>
	                                        	<span class="span-text">{{ transaction.merchant }}</span>
	                                        	<span class="text-muted">{{ merchants[transaction.merchant].transactionType }}</span>
	                                        </td>
	                                        <td class="td-actions text-right">
	                                           {{ transaction.amount | currency : "-$" }}
	                                        </td>
	                                    </tr>
	                                </tbody>
	                            </table>
							</div>
					  </div>
					</div>
		     	</div>
		    </div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="mock/transactions.json"></script>
	<script type="text/javascript" src="assets/js/jquery-3.4.0.js"></script>
	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/scripts.js"></script>
</html>