[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
	font-family: 'Kanit', sans-serif;
}

.peachtree-bank-bg {
	background: url('../images/background.jpg') no-repeat center center fixed;
/*	background-repeat: no-repeat;*/
	/*background-size: 100% 100%;*/
	background-size: cover;
}

.card > .card-header {
	color : #ffffff !important;
	text-align: center;
}

.account-form input, .transactions-filter input {
	border: none;
	border-radius: 0px !important;
}

.custom-label {
	font-size: .95rem;
    font-weight: 800;
}

.btn-orange {
	background-color: #ee7033 !important;
	border: solid 1px #ee7033 !important;
	color :#ffffff;
}

.input-group-text {
    background-color: #e9ecef00 !important;
    border: 0px !important;
}

.bg-bluegreen { background-color: #0c8397; }
.table td { vertical-align: middle !important; }
.span-text { display: block; }
.tr-1-border { border-left: solid 5px blue;}

@media(max-width:992px){
	.col-custom {
		margin-top: 1rem;
	}
}